API/bin/
API/obj/
API/out/
API/postgres_data/
API/postgres-data/
Test/obj/
Test/bin/
TestAPI/obj/
TestAPI/bin/
Core/bin/
Core/obj/
Test/bin/Debug/net5.0/Test.dll
TestAPI/bin/Debug/net5.0/Test.dll
.vs/
Test/coverage.cobertura.xml
TestAPI/obj/project.assets.json
TestAPI/obj/project.nuget.cache
*.cache
TestAPI/obj/project.nuget.cache
TestAPI/obj/project.nuget.cache
postgres-data/
postgres_data/
