version: '3.4'

networks:
  workshopapi-dev:
    driver: bridge 

services:
  workshopapi:
    image: workshopapi:latest
    container_name: 'workshop_api_local_testing'
    depends_on:
      - "postgresdock_image"
    build:
      context: .
      dockerfile: ./API/Dockerfile
    ports:
      - "5027:44352"     
    environment:
      DB_CONNECTION_STRING: 'host=postgres_image;port=5432;database=local_test;username=sysdba;password=MasterCloud'
    networks:
      - workshopapi-dev  

  postgres-image:
    image: 'postgres:latest'
    container_name: 'postgresql_local_testing'
    restart: always
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
      # copy the sql script to create tables
      - ./API/sql/create.sql:/docker-entrypoint-initdb.d/create_tables.sql
      # copy the sql script to fill tables
      #- ./sql/fill_tables.sql:/docker-entrypoint-initdb.d/fill_tables.sql    
    environment:
      - POSTGRES_USER=sysdba
      - POSTGRES_PASSWORD=MasterCloud
      - POSTGRES_DB=local_test
    ports:
      - '5432:5432'
    networks:
      - workshopapi-dev
    logging:
      options:
        max-size: 10m
        max-file: "3"      
  #volumes: 
    #postgres_data:
      #external: true